<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips Dulche</title>
    <link rel="stylesheet" href="../Static/ide.css">
</head>

<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="recetas.html">Recetas</a>
        <a href="ide.html">Tips</a>
    </nav>

<header>
    <div>
        <h1>Dulche</h1>
        <img src="https://i.pinimg.com/736x/03/09/62/0309626d826d28c802a0d0aab5a1b7b0.jpg" alt="Dulche" width="300">
        <p>Apartado de tips y consejos</p>
    </div>
</header>

<main>
    <div class="card">
        <h2>Tips para mejorar tus recetas</h2>
        <p>1. Usa ingredientes de calidad: Los ingredientes frescos y de buena calidad hacen una gran diferencia en el sabor final de tus recetas.</p>
        <p>2. Sigue las instrucciones: Es importante seguir las instrucciones de la receta, especialmente cuando se trata de tiempos y temperaturas.</p>
        <p>3. Experimenta con sabores: No tengas miedo de probar combinaciones nuevas de ingredientes para crear tus propias versiones únicas.</p>
        <p>4. Prepara con anticipación: Muchas recetas pueden ser preparadas con anticipación, lo que te permite ahorrar tiempo y reducir el estrés en el día de la preparación.</p>
        <p>5. Disfruta el proceso: La cocina es una forma de arte
    </div>

</main>

</body>
</html>